html,
body {
  min-width: 1122px;
  min-height: 1750px;
  margin: 0;
  padding: 0;
}

body {
  font-size: 16px;
  line-height: 22px;
  color: black;
  font-weight: 400;
  font-family: Roboto, Arial, sans-serif;
}

h1 {
  font-size: 40px;
  line-height: auto;
	font-weight: 600;
}

h2{
  font-size: 36px;
  line-height: 36px;
	font-weight: 600;
}

h3{
  font-size: 18px;
  line-height: 30px;
	font-weight: 600;
}

div {
  display: block;
}

/*распорка*/
.clearfix::after {
  content: "";
  display: table;
  clear: both;
}

/*размерка сетки*/
/* .main-header {
  margin-bottom: 60px;
} */

.container {
  width: 880px;
  margin: 0 auto;
  padding: 0 10px;
}

.main-header-box {
  padding-top: 25px;
  margin-bottom: 38px;
}

.basket {
  float: right;
  width: 100px;
  padding-top: 25px;
}

.navigation {
  float: right;
  font-size: 0;
  padding-top: 25px;
}

.logotype {
  float: left;
  width: 140px;
  height: ;
}

.slider-box {
  width: 315%;
}

.slider-container {
  position: relative;
  overflow: hidden;
  text-align: left;
}
.slider {
  position: relative;
  float: left;
  min-height: 310px;
  min-width: 910px;
}

.slider-section {
  width: 380px;
  float: left;
}

.slider-section-img {
  float: right;
  width: 360px;
}

.slider-section p {
  margin-top: -5px;
  margin-bottom: 30px;
}

.slider:last-child .slider-section-img {
  position: absolute;
  bottom: -5;
  left: 540px;
}

.slider:nth-of-type(n+2) .slider-section {
  width: 480px;
}

.slider-paginator label {
  display: inline-block;
  width: 4px;
  height: 4px;
  background: #FFFFFF;
  border-radius: 50%;
  border: 3px solid white;
  margin: 0 3px;
  cursor: pointer;
}

#btn-1:checked~.slider-paginator label[for=btn-1],
#btn-2:checked~.slider-paginator label[for=btn-2],
#btn-3:checked~.slider-paginator label[for=btn-3] {
  background-color: #c3c3c3;
}

.slider-paginator {
  position: absolute;
  bottom: 80px;
  left: 410px;
  z-index: 10;
}

#btn-1:checked ~ .slider-box {
  transform: translate(0);
}

#btn-2:checked ~ .slider-box {
  transform: translate(-910px);
}

#btn-3:checked ~ .slider-box {
  transform: translate(-1818px);
}

.container-products {
  padding-top: 80px;
  padding-bottom: 78px;
  border-bottom: 2px solid #eee;
}

.products {
  float: left;
  width: 240px;
  margin-right: 80px;
}

.products:nth-child(3) {
  margin-right: 0;
}

.products-title{
  text-transform: uppercase;
}

.products p {
  font-size: 15px;
}

/*Информация о фирме*/
.info {
  padding-top: 60px;
  padding-bottom: 48px;
  border-bottom: 2px solid #eee;
}

.info-main-left {
  float: left;
  width: 580px;
}

.info-main-right {
  float: right;
  width: 240px;
  text-align: center;
}

.info-order {
  text-align: left;
}

.info-order p,
.info-date {
  text-transform: uppercase;
}

.info-date {
  position: relative;
  margin-bottom: 65px;
}

.info ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.info li {
  position: relative;
  margin-bottom: 22px;
  padding-left: 36px;
}

.info li::before,
.info-date::after {
  content: "";
  position: absolute;
  top: 10px;
  left: 0;
  width: 25px;
  height: 2px;
  background: #fb565a;
}

.info-date::after {
  background-color: #eee;
  position: absolute;
  width: 230px;
}

.info-date span {
  background: #fff;
  display: inline-block;
  width: 110px;
  position: relative;
  z-index: 10;
}

.info-main-right img {
  margin-bottom: 30px;
}

/* Логотипы клиентов */
.clients {
  padding-top: 40px;
  padding-bottom: 38px;
  margin-bottom: 85px;
  font-size: 0;
  border-bottom: 2px solid #eee;
}

.clients a {
  display: inline-block;
  height: 100%;
  margin-right: 120px;
  vertical-align: middle;
	opacity: 0.2;
}

.clients a:hover {
	opacity: 1;
}

.clients a:first-child {
  margin-left: 10px;
}

.clients a:last-child {
  margin-right: 0;
}

/*Карта*/
.map {
  width: 100%;
  min-height: 418px;
  margin: 0 auto;
  background: url(../img/map.jpg) 50% 50% no-repeat #eee;
}

.map-contact {
  position: relative;
  right: 315px;
  top: 88px;
  width: 230px;
  min-height: 230px;
  background-color: #fff;
  padding: 10px 0 0 20px;
}

.map-contact-title {
  font-size: 16px;
  font-weight: normal;
}

.map p {
  color: #666666;
  font-weight: normal;
}

.footer-info {
  padding-top: 75px;
  padding-bottom: 75px;
}

.footer-left {
  float: left;
  width: 240px;
}

.footer-right {
  float: right;
  max-width: 550px;
  margin-right: 20px;
}

/*меню*/
.main-menu {
  list-style:none;
}

.main-menu li,
.main-menu a{
  display: inline-block;
}

.main-menu a,
.basket a {
  font-size: 14px;
  line-height: 30px;
  color: #000;
  text-decoration: none;
  text-transform: uppercase;
  margin-right: 45px;
}

.main-menu a.menu-active {
  border-bottom: 2px solid #fb565a;
}

.main-menu a.menu-active:active {
  border-bottom-color: black;
}

.main-menu a:hover,
.basket a:hover {
  color: #fb565a;
}

.main-menu a:active,
.basket a:active {
  color: black;
  opacity: .4;
}

input[type=radio] {
  display: none;
}

.main-header {
  background-color: #eee;
}

/*каталог сайтов*/
.catalog-title {
  text-align: center;
  font-size: 40px;
  line-height: 47px;
  padding-bottom: 85px;
  margin-top: 65px;
  margin-bottom: 55px;
  text-transform: uppercase;
}

.catalog-filter {
  float: left;
  width: 240px;
}

.catalog-content {
  float: right;
  width: 560px;
}

.catalog-products {
  position: relative;
  display: inline-block;
  top: 30px;
  margin-bottom: 104px;
  text-decoration: none;
}

.catalog-products:nth-child(2n+1) {
  margin-right: 70px;
}

.catalog-item-block {
  display: none;
  position: absolute;
  top: 20px;
  left: 20px;
  background-color: #fff;
  text-align: center;
  min-height: 200px;
  width: 200px;
  font-size: 14px;
  line-height: 18px;
}

.catalog-products:hover>.catalog-item-block {
  display: block;
}

.catalog-box-title a {
  font-size: 18px;
  line-height: 9px;
  padding-top: 20px;
  text-transform: uppercase;
  text-decoration: none;
  color: #000;
}

.catalog-box-title {
  line-height: 10px;
}

.catalog-products::before {
  content: "";
  position: absolute;
  width: 240px;
  height: 30px;
  top: -30px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  background: #f1f1f1;
}

.catalog-products:hover::before {
  background: #797979;
}

.catalog-products::after {
  content: "•••";
  font-size: 45px;
  position: absolute;
  top: -25px;
  left: 10px;
  color: #fff;
}

.catalog-sort h3,
.catalog-sort ul,
.catalog-sort li {
  display: inline-block;
  margin-right: 40px;
  font-weight: 500;
  font-size: 12px;
  line-height: 18px;
  text-transform: uppercase;
}

.catalog-sort a {
  text-decoration: none;
  color: #dadada;
  border-bottom: 2px dotted #00ca74;
}

.catalog-sort a:hover {
	color: black;
	border-bottom: 2px solid #00ca74;
}

.catalog-sort a:active {
	color: black;
	border: none;
}

/*переключатель страниц paginator*/
.catalog-paginator {
    margin-bottom: 80px;
}

.catalog-paginator-pages {
  margin: 0;
  padding: 0;
}

.catalog-paginator-pages li{
  display: inline-block;
}

.catalog-paginator-pages span,
.catalog-paginator-pages .btn {
  display: block;
  padding: 6px 8px;
  margin-right: 10px;
  background-color: #fff;
  font-size: 12px;
  border-radius: 4px;
  width: 20px;
  color: #000;
  text-align: center;
}

.catalog-paginator-pages span {
  border: 2px solid #f1f1f1;
}

.catalog-paginator-pages .btn {
  background-color: #f1f1f1;
  padding: 10px;
}

.catalog-paginator-pages .btn:hover {
	background-color: #e5e5e5;
}

.catalog-paginator-pages .btn:active {
	background-color: #d5d5d5;
	border-top: 2px solid #b5b5b5;
	padding-top: 8px;
}

.catalog-paginator-pages li:last-of-type a {
  width: 130px;
}



/*обратная связь*/
.feedback{
  display: none;
}


/*Кнопки*/
.btn {
  display: block;
  width: 215px;
  background-color: #fb565a;
  padding: 10px;
  border-radius: 5px;
  text-decoration: none;
  color: #fff;
  font-size: 12px;
  line-height: 18px;
  text-align: center;
  text-transform: uppercase;
}

.btn:hover {
	background-color: #d6494d;
}

.btn:active {
	background-color: #b63538;
	border-top: 2px solid #9b2d30;
	padding-top: 8px;
}

.btn-products {
  width: 120px;
}

.btn-green{
  background-color: #00ca74;
}

.btn-green:hover{
	background-color: #01a25e;
}

.btn-green:active{
	background-color: #009053;
	border-top: 2px solid #007b47;
}

.btn-yellow{
  background-color: #efc84a;
}

.btn-yellow:hover {
	background-color: #d6ae2c;
}

.btn-yellow:active {
	background-color: #c09b24;
	border-top: 2px solid #a3841f;
}

.btn-map-contact {
  width: 184px;
  margin-top: 25px;
}

.btn-catalog {
  position: absolute;
  width: 140px;
  font-size: 18px;
  line-height: 9px;
  padding: 15px 0;
  text-align: center;
  left: 30px;
  bottom: 30px;
}

.btn-catalog:active {
	padding-top: 13px;
}
